<div class="hero-unit">
	<h1>Welcome to One Month Rails!</h1>
	<p>
		You found the home page for the 
		<%= link_to "One Month Rails", "http://onemonthrails.com" %> Rails
		application.
	</p>
	<p>
	  <%= link_to "Sign Up Now!", '#', class: "btn btn-primary btn-large" %>
	</p>
	<p>
		This is the welcom page to my one month rails application. To insert a link go look at home.html.erb page within sublime text and copy the Link_TO method used in the tutorial. 
		<%= link_to "LS2.COM", "http://ls2.com" %>
	</p>
</div>

