<div class: "hero-unit"
<h1>Welcome to our Information Page<h1>
	<p> 
		I have no clue how I finally got this page to work! But it is now working and I managed to get a third page working. Now to try adding the buttons to the top... BOOM! 
	</p>
</div>	
	<p>
		See submllime text for BTN example adding a class to a Link_to  <%=link_to 'LS2.COM', 'http://ls2.com', class: "btn btn-small" %>
	</p